In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Match.csv')
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [3]:
df.shape

(69761, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [5]:
df[['player_dismissed']].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [8]:
df[['fielder']].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [9]:
df['dismissal_kind'].value_counts()

caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: dismissal_kind, dtype: int64

In [11]:
df['dismissal_kind'].value_counts().reset_index()

               index  dismissal_kind
0             caught            2029
1             bowled             650
2            run out             379
3                lbw             223
4            stumped             121
5  caught and bowled             106
6       retired hurt               4
7         hit wicket               4

In [12]:
#Find Team wise runs scored.
df.groupby('batting_team')[['total_runs']].sum()

                             total_runs
batting_team
Chennai Super Kings                9253
Deccan Chargers                    8931
Delhi Daredevils                  10654
Gujarat Lions                      2412
Kings XI Punjab                   10763
Kochi Tuskers Kerala               1760
Kolkata Knight Riders              9924
Mumbai Indians                    11202
Pune Warriors                      1657
Rajasthan Royals                   8039
Rising Pune Supergiant             2470
Royal Challengers Bangalore       10221
Sunrisers Hyderabad                2349

In [13]:
df.groupby('batting_team').total_runs.sum()

batting_team
Chennai Super Kings             9253
Deccan Chargers                 8931
Delhi Daredevils               10654
Gujarat Lions                   2412
Kings XI Punjab                10763
Kochi Tuskers Kerala            1760
Kolkata Knight Riders           9924
Mumbai Indians                 11202
Pune Warriors                   1657
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Royal Challengers Bangalore    10221
Sunrisers Hyderabad             2349
Name: total_runs, dtype: int64

In [14]:
df.groupby('batting_team').total_runs.sum().reset_index()

                   batting_team  total_runs
0           Chennai Super Kings        9253
1               Deccan Chargers        8931
2              Delhi Daredevils       10654
3                 Gujarat Lions        2412
4               Kings XI Punjab       10763
5          Kochi Tuskers Kerala        1760
6         Kolkata Knight Riders        9924
7                Mumbai Indians       11202
8                 Pune Warriors        1657
9              Rajasthan Royals        8039
10       Rising Pune Supergiant        2470
11  Royal Challengers Bangalore       10221
12          Sunrisers Hyderabad        2349

In [18]:
# Find Total Runs of Virat Kohli.
df[(df.batsman=='V Kohli')]['total_runs'].sum()

1499

In [19]:
df[(df.batsman=='V Kohli')][['total_runs']].sum()

total_runs    1499
dtype: int64

In [22]:
df[(df.batsman=='V Kohli')].loc[:,['total_runs']].sum()

total_runs    1499
dtype: int64

In [24]:
df.groupby('batsman').get_group('V Kohli').loc[:,['total_runs']].sum()

total_runs    1499
dtype: int64

In [25]:
df.groupby('batsman').get_group('V Kohli')[['total_runs']].sum()

total_runs    1499
dtype: int64

In [26]:
df.groupby('batsman').get_group('V Kohli').iloc[:,[-4]].sum()

total_runs    1499
dtype: int64

In [27]:
# Find Total Runs of Your Fav Player.
df[(df.batsman=='SR Tendulkar')][['total_runs']].sum()

total_runs    1730
dtype: int64

In [30]:
# Extra Runs Given By All Bowlers in a League.
df.groupby('bowler')[['extra_runs']].sum()

              extra_runs
bowler
A Choudhary            7
A Flintoff             1
A Kumble              62
A Mishra              60
A Mithun              19
...                  ...
YA Abdulla            17
YK Pathan             50
YS Chahal             30
Yuvraj Singh          11
Z Khan                89

[285 rows x 1 columns]

In [33]:
df.groupby('bowler')['extra_runs'].sum()

bowler
A Choudhary      7
A Flintoff       1
A Kumble        62
A Mishra        60
A Mithun        19
                ..
YA Abdulla      17
YK Pathan       50
YS Chahal       30
Yuvraj Singh    11
Z Khan          89
Name: extra_runs, Length: 285, dtype: int64

In [32]:
# Top 5 bowlers who has given most extra runs 
df.groupby('bowler')[['extra_runs']].sum().sort_values('extra_runs',
                                                       ascending=False)

              extra_runs
bowler
SL Malinga           158
RP Singh             135
I Sharma             118
P Kumar              111
IK Pathan            101
...                  ...
I Malhotra             0
B Chipli               0
Tejas Baroka           0
A Nel                  0
TM Head                0

[285 rows x 1 columns]

In [37]:
# Extra Runs Given By TS Mills.
df[(df.bowler=='TS Mills')]['extra_runs'].sum()

13

In [38]:
df[(df.bowler=='TS Mills')][['extra_runs']].sum()

extra_runs    13
dtype: int64

In [39]:
df[(df.bowler=='TS Mills')].loc[:,['extra_runs']].sum()

extra_runs    13
dtype: int64

In [40]:
df.groupby('bowler').get_group('TS Mills')[['extra_runs']].sum()

extra_runs    13
dtype: int64

In [41]:
df.groupby('bowler').get_group('TS Mills').loc[:,['extra_runs']].sum()

extra_runs    13
dtype: int64

In [42]:
df.groupby('bowler').get_group('TS Mills').loc[:,'extra_runs'].sum()

13

In [47]:
# Catches Taken By Mandeep Singh.
df[(df.fielder=='Mandeep Singh') & (df.dismissal_kind=='caught')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
2728,12,2,Mumbai Indians,Royal Challengers Bangalore,3,3,MJ McClenaghan,RG Sharma,S Badree,0,...,0,0,0,0,0,0,0,MJ McClenaghan,caught,Mandeep Singh
3922,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,17,5,DT Christian,BA Stokes,S Aravind,0,...,0,0,0,0,0,0,0,DT Christian,caught,Mandeep Singh
4691,20,2,Gujarat Lions,Royal Challengers Bangalore,2,2,DR Smith,BB McCullum,YS Chahal,0,...,0,0,0,0,0,0,0,DR Smith,caught,Mandeep Singh
6355,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,17,3,CR Woakes,SA Yadav,TS Mills,0,...,0,0,0,0,0,0,0,CR Woakes,caught,Mandeep Singh
9751,42,1,Kings XI Punjab,Royal Challengers Bangalore,7,6,SE Marsh,M Vohra,P Negi,0,...,0,0,0,0,0,0,0,SE Marsh,caught,Mandeep Singh
69340,293,2,Delhi Daredevils,Kings XI Punjab,15,2,IK Pathan,JR Hopes,PC Valthaty,0,...,0,0,0,0,0,0,0,IK Pathan,caught,Mandeep Singh

In [48]:
len(df[(df.fielder=='Mandeep Singh') & (df.dismissal_kind=='caught')])

7

In [49]:
df[(df.fielder=='Mandeep Singh') & (df.dismissal_kind=='caught')].shape[0]

7

In [57]:
# How Many Times DA Warner is dismissed by Mohammed Shami.

In [60]:
df[(df['player_dismissed']=='DA Warner') & (df.bowler=='Mohammed Shami')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
9029,39,1,Sunrisers Hyderabad,Delhi Daredevils,6,2,DA Warner,S Dhawan,Mohammed Shami,0,...,0,0,0,0,0,0,0,DA Warner,bowled,NaN

In [61]:
len(df[(df['player_dismissed']=='DA Warner') & (df.bowler=='Mohammed Shami')])

1

In [62]:
df[(df['player_dismissed']=='DA Warner') & (df.bowler=='Mohammed Shami')].shape[0]

1

In [66]:
df.groupby('player_dismissed').get_group('DA Warner')[df.bowler=='Mohammed Shami']

C:\Users\HRISHIKESH\AppData\Local\Temp\ipykernel_14036\4077711719.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.groupby('player_dismissed').get_group('DA Warner')[df.bowler=='Mohammed Shami']

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
9029,39,1,Sunrisers Hyderabad,Delhi Daredevils,6,2,DA Warner,S Dhawan,Mohammed Shami,0,...,0,0,0,0,0,0,0,DA Warner,bowled,NaN

In [65]:
df.groupby('player_dismissed').get_group('DA Warner')[df.bowler=='Mohammed Shami'].shape[0]

C:\Users\HRISHIKESH\AppData\Local\Temp\ipykernel_14036\3556609657.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.groupby('player_dismissed').get_group('DA Warner')[df.bowler=='Mohammed Shami'].shape[0]

1

In [69]:
# Total Number of Wickets Taken by YS Chahal.
df[(df.bowler=='YS Chahal')][['dismissal_kind']].value_counts()

dismissal_kind
caught            11
bowled             2
stumped            1
dtype: int64

In [70]:
df[(df.bowler=='YS Chahal')][['dismissal_kind']].value_counts().sum()

14

In [71]:
df[(df.bowler=='YS Chahal')].loc[:,['dismissal_kind']].value_counts()

dismissal_kind
caught            11
bowled             2
stumped            1
dtype: int64

In [77]:
a = df[(df.bowler=='YS Chahal')].loc[:,['dismissal_kind']].value_counts()
type(a)

pandas.core.series.Series

In [73]:
df[(df.bowler=='YS Chahal')].loc[:,['dismissal_kind']].value_counts().reset_index()

  dismissal_kind   0
0         caught  11
1         bowled   2
2        stumped   1

In [72]:
df[(df.bowler=='YS Chahal')].loc[:,['dismissal_kind']].value_counts().sum()

14

In [74]:
df.groupby('bowler').get_group('YS Chahal')[['dismissal_kind']].value_counts()

dismissal_kind
caught            11
bowled             2
stumped            1
dtype: int64

In [75]:
df.groupby('bowler').get_group('YS Chahal').loc[:,['dismissal_kind']].value_counts()

dismissal_kind
caught            11
bowled             2
stumped            1
dtype: int64

In [76]:
df.groupby('bowler').get_group('YS Chahal').loc[:,['dismissal_kind']].value_counts().sum()

14

In [78]:
# Find Number of Stump Out done by MS Dhoni.
df[(df.fielder=='MS Dhoni') & (df.dismissal_kind=='stumped')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
3024,13,2,Gujarat Lions,Rising Pune Supergiant,12,1,BB McCullum,SK Raina,RD Chahar,0,...,0,0,0,0,0,0,0,BB McCullum,stumped,MS Dhoni
4006,17,2,Royal Challengers Bangalore,Rising Pune Supergiant,11,3,AB de Villiers,KM Jadhav,Imran Tahir,0,...,0,0,0,0,0,0,0,AB de Villiers,stumped,MS Dhoni
11944,51,1,Delhi Daredevils,Rising Pune Supergiant,16,2,CJ Anderson,KK Nair,Washington Sundar,0,...,0,0,0,0,0,0,0,CJ Anderson,stumped,MS Dhoni
28296,122,2,Royal Challengers Bangalore,Chennai Super Kings,8,5,RV Uthappa,R Dravid,M Muralitharan,0,...,0,0,0,0,0,0,0,RV Uthappa,stumped,MS Dhoni
32944,141,2,Delhi Daredevils,Chennai Super Kings,16,5,DA Warner,KD Karthik,SB Jakati,0,...,0,0,0,0,0,0,0,DA Warner,stumped,MS Dhoni
35415,152,1,Rajasthan Royals,Chennai Super Kings,13,2,GC Smith,RA Jadeja,M Muralitharan,0,...,0,0,0,0,0,0,0,GC Smith,stumped,MS Dhoni
35445,152,1,Rajasthan Royals,Chennai Super Kings,18,2,AS Raut,SK Warne,SB Jakati,0,...,0,0,0,0,0,0,0,AS Raut,stumped,MS Dhoni
49905,211,2,Mumbai Indians,Chennai Super Kings,10,5,AT Rayudu,SS Tiwary,SK Raina,0,...,0,0,0,0,0,0,0,AT Rayudu,stumped,MS Dhoni
51089,216,2,Deccan Chargers,Chennai Super Kings,5,4,MD Mishra,TL Suman,R Ashwin,0,...,0,0,0,0,0,0,0,MD Mishra,stumped,MS Dhoni
52411,222,1,Kolkata Knight Riders,Chennai Super Kings,3,2,CH Gayle,SC Ganguly,R Ashwin,0,...,0,0,0,0,0,0,0,CH Gayle,stumped,MS Dhoni
52422,222,1,Kolkata Knight Riders,Chennai Super Kings,5,1,DJ Hussey,MK Tiwary,R Ashwin,0,...,0,0,0,0,0,1,1,DJ Hussey,stumped,MS Dhoni
52495,222,1,Kolkata Knight Riders,Chennai Super Kings,16,5,WP Saha,AD Mathews,SB Jakati,0,...,0,0,0,0,0,0,0,WP Saha,stumped,MS Dhoni
54962,232,2,Deccan Chargers,Chennai Super Kings,13,1,MD Mishra,A Symonds,SB Jakati,0,...,0,0,0,0,0,0,0,MD Mishra,stumped,MS Dhoni
55630,235,2,Kolkata Knight Riders,Chennai Super Kings,9,5,MS Bisla,JH Kallis,SB Jakati,0,...,0,0,0,0,0,0,0,MS Bisla,stumped,MS Dhoni
55677,235,2,Kolkata Knight Riders,Chennai Super Kings,17,3,EJG Morgan,MK Tiwary,SK Raina,0,...,0,0,0,0,0,0,0,EJG Morgan,stumped,MS Dhoni
55692,235,2,Kolkata Knight Riders,Chennai Super Kings,19,6,MK Tiwary,LR Shukla,S Randiv,0,...,0,0,0,0,0,0,0,MK Tiwary,stumped,MS Dhoni
60699,257,1,Mumbai Indians,Chennai Super Kings,12,1,AT Rayudu,RG Sharma,S Randiv,0,...,0,0,0,0,0,0,0,AT Rayudu,stumped,MS Dhoni

In [84]:
df[(df.fielder=='MS Dhoni') & (df.dismissal_kind=='stumped')].index.size

17

In [86]:
df[(df.fielder=='MS Dhoni') & (df.dismissal_kind=='stumped')].shape[0]

17

In [87]:
len(df[(df.fielder=='MS Dhoni') & (df.dismissal_kind=='stumped')])

17

In [88]:
# How Many Times S Dhawan Got Out by lbw.
df[(df.batsman=='S Dhawan') & (df.dismissal_kind=='lbw')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [90]:
df[(df.batsman=='S Dhawan') & (df.dismissal_kind=='lbw')].index.size

2

In [91]:
df[(df.player_dismissed=='S Dhawan') & (df.dismissal_kind=='lbw')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [92]:
df[(df.player_dismissed=='S Dhawan') & (df.dismissal_kind=='lbw')].shape[0]

2

In [100]:
# Total number sixes hit by MS Dhoni.
df[(df.batsman=='MS Dhoni') & (df.batsman_runs==6)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2081,9,2,Rising Pune Supergiant,Delhi Daredevils,11,4,MS Dhoni,R Bhatia,S Nadeem,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
3905,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,14,8,MS Dhoni,SPD Smith,YS Chahal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5975,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,15,4,MS Dhoni,BA Stokes,S Kaul,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5993,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,18,4,MS Dhoni,MK Tiwary,Mohammed Siraj,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5999,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,19,4,MS Dhoni,MK Tiwary,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67428,285,1,Chennai Super Kings,Rajasthan Royals,19,6,MS Dhoni,JA Morkel,A Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68290,289,1,Chennai Super Kings,Delhi Daredevils,12,1,MS Dhoni,S Badrinath,AB McDonald,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68335,289,1,Chennai Super Kings,Delhi Daredevils,19,2,MS Dhoni,S Badrinath,AB Agarkar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68344,289,1,Chennai Super Kings,Delhi Daredevils,20,5,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68345,289,1,Chennai Super Kings,Delhi Daredevils,20,6,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [99]:
df[(df.batsman=='MS Dhoni') & (df.batsman_runs==6)][['batsman_runs']]

       batsman_runs
2081              6
3905              6
5975              6
5993              6
5999              6
...             ...
67428             6
68290             6
68335             6
68344             6
68345             6

[62 rows x 1 columns]

In [98]:
df[(df.batsman=='MS Dhoni') & (df.batsman_runs==6)][['batsman_runs']].size

62

In [101]:
len(df[(df['batsman']=='MS Dhoni') & (df['batsman_runs']==6)])

62

In [102]:
df.groupby('batsman').get_group('MS Dhoni')[df.batsman_runs==6]

C:\Users\HRISHIKESH\AppData\Local\Temp\ipykernel_14036\2739052643.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.groupby('batsman').get_group('MS Dhoni')[df.batsman_runs==6]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2081,9,2,Rising Pune Supergiant,Delhi Daredevils,11,4,MS Dhoni,R Bhatia,S Nadeem,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
3905,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,14,8,MS Dhoni,SPD Smith,YS Chahal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5975,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,15,4,MS Dhoni,BA Stokes,S Kaul,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5993,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,18,4,MS Dhoni,MK Tiwary,Mohammed Siraj,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5999,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,19,4,MS Dhoni,MK Tiwary,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67428,285,1,Chennai Super Kings,Rajasthan Royals,19,6,MS Dhoni,JA Morkel,A Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68290,289,1,Chennai Super Kings,Delhi Daredevils,12,1,MS Dhoni,S Badrinath,AB McDonald,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68335,289,1,Chennai Super Kings,Delhi Daredevils,19,2,MS Dhoni,S Badrinath,AB Agarkar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68344,289,1,Chennai Super Kings,Delhi Daredevils,20,5,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68345,289,1,Chennai Super Kings,Delhi Daredevils,20,6,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [104]:
df.groupby('batsman').get_group('MS Dhoni')[df.batsman_runs==6].index.size

C:\Users\HRISHIKESH\AppData\Local\Temp\ipykernel_14036\3589001748.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.groupby('batsman').get_group('MS Dhoni')[df.batsman_runs==6].index.size

62

In [105]:
df[(df.batsman=='MS Dhoni')][df.batsman_runs==6]

C:\Users\HRISHIKESH\AppData\Local\Temp\ipykernel_14036\307809944.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df.batsman=='MS Dhoni')][df.batsman_runs==6]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2081,9,2,Rising Pune Supergiant,Delhi Daredevils,11,4,MS Dhoni,R Bhatia,S Nadeem,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
3905,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,14,8,MS Dhoni,SPD Smith,YS Chahal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5975,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,15,4,MS Dhoni,BA Stokes,S Kaul,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5993,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,18,4,MS Dhoni,MK Tiwary,Mohammed Siraj,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5999,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,19,4,MS Dhoni,MK Tiwary,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67428,285,1,Chennai Super Kings,Rajasthan Royals,19,6,MS Dhoni,JA Morkel,A Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68290,289,1,Chennai Super Kings,Delhi Daredevils,12,1,MS Dhoni,S Badrinath,AB McDonald,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68335,289,1,Chennai Super Kings,Delhi Daredevils,19,2,MS Dhoni,S Badrinath,AB Agarkar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68344,289,1,Chennai Super Kings,Delhi Daredevils,20,5,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68345,289,1,Chennai Super Kings,Delhi Daredevils,20,6,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [109]:
# Total numbers of balls faced by MI Players.
df[(df.batting_team=='Mumbai Indians')][['batting_team','over']].value_counts()

batting_team    over
Mumbai Indians  1       475
                2       466
                3       463
                4       463
                5       456
                8       449
                6       444
                13      443
                7       441
                9       440
                11      439
                12      437
                10      436
                14      428
                16      423
                15      419
                17      403
                18      390
                19      390
                20      357
dtype: int64

In [111]:
df[(df.batting_team=='Mumbai Indians')][['batting_team','over']].value_counts().sum()

8662

In [112]:
df.groupby('batting_team').get_group('Mumbai Indians')[['batting_team','over']].value_counts()

batting_team    over
Mumbai Indians  1       475
                2       466
                3       463
                4       463
                5       456
                8       449
                6       444
                13      443
                7       441
                9       440
                11      439
                12      437
                10      436
                14      428
                16      423
                15      419
                17      403
                18      390
                19      390
                20      357
dtype: int64

In [113]:
df.groupby('batting_team').get_group('Mumbai Indians')[['batting_team','over']]

         batting_team  over
248    Mumbai Indians     1
249    Mumbai Indians     1
250    Mumbai Indians     1
251    Mumbai Indians     1
252    Mumbai Indians     1
...               ...   ...
69120  Mumbai Indians    20
69121  Mumbai Indians    20
69122  Mumbai Indians    20
69123  Mumbai Indians    20
69124  Mumbai Indians    20

[8662 rows x 2 columns]

In [114]:
df.groupby('batting_team').get_group('Mumbai Indians')[['batting_team','over']].value_counts().sum()

8662

In [115]:
df.groupby('batting_team').get_group('Mumbai Indians').loc[:,['batting_team','over']]

         batting_team  over
248    Mumbai Indians     1
249    Mumbai Indians     1
250    Mumbai Indians     1
251    Mumbai Indians     1
252    Mumbai Indians     1
...               ...   ...
69120  Mumbai Indians    20
69121  Mumbai Indians    20
69122  Mumbai Indians    20
69123  Mumbai Indians    20
69124  Mumbai Indians    20

[8662 rows x 2 columns]

In [116]:
df.groupby('batting_team').get_group('Mumbai Indians').loc[:,['batting_team','over']].value_counts().sum()

8662

In [117]:
# Total numbers of balls faced by KKR Players.
df.groupby('batting_team').get_group('Kolkata Knight Riders').loc[:,['batting_team','over']].value_counts().sum()

7887

In [118]:
df.groupby('batting_team').get_group('Kolkata Knight Riders').loc[:,['batting_team','over']]

                batting_team  over
617    Kolkata Knight Riders     1
618    Kolkata Knight Riders     1
619    Kolkata Knight Riders     1
620    Kolkata Knight Riders     1
621    Kolkata Knight Riders     1
...                      ...   ...
68792  Kolkata Knight Riders    13
68793  Kolkata Knight Riders    13
68794  Kolkata Knight Riders    13
68795  Kolkata Knight Riders    13
68796  Kolkata Knight Riders    13

[7887 rows x 2 columns]

In [119]:
# Find the total number of runs scored by Sachin Tendulkar.
df.groupby('batsman').get_group('SR Tendulkar')[['total_runs']].sum()

total_runs    1730
dtype: int64

In [120]:
df.groupby('batsman').get_group('SR Tendulkar').loc[:,['total_runs']].sum()

total_runs    1730
dtype: int64

In [121]:
df[(df.batsman=='SR Tendulkar')][['total_runs']]

       total_runs
21015           1
21017           0
21025           0
21026           0
21027           0
...           ...
69087           1
69093           4
69094           1
69096           1
69098           0

[1388 rows x 1 columns]

In [122]:
df[(df.batsman=='SR Tendulkar')][['total_runs']].sum()

total_runs    1730
dtype: int64

In [123]:
df[(df.batsman=='SR Tendulkar')].loc[:,['total_runs']].sum()

total_runs    1730
dtype: int64

In [124]:
# Find the total number of balls faced by Schin Tendulkar.
df[(df.batsman=='SR Tendulkar')][['batsman','ball']]

            batsman  ball
21015  SR Tendulkar     4
21017  SR Tendulkar     6
21025  SR Tendulkar     1
21026  SR Tendulkar     2
21027  SR Tendulkar     3
...             ...   ...
69087  SR Tendulkar     1
69093  SR Tendulkar     1
69094  SR Tendulkar     2
69096  SR Tendulkar     4
69098  SR Tendulkar     6

[1388 rows x 2 columns]

In [125]:
len(df[(df.batsman=='SR Tendulkar')][['batsman','ball']])

1388

In [126]:
df[(df.batsman=='SR Tendulkar')][['over']].value_counts()

over
2       141
4       136
6       103
7       100
8       100
3        97
1        87
5        87
10       71
9        68
11       63
12       55
14       55
13       54
16       53
15       45
17       30
19       16
20       14
18       13
dtype: int64

In [127]:
df[(df.batsman=='SR Tendulkar')][['over']].value_counts().sum()

1388

In [128]:
df[(df.batsman=='SR Tendulkar')].loc[:,['over']].value_counts().sum()

1388

In [129]:
df.groupby('batsman').get_group('SR Tendulkar')[['over']].value_counts()

over
2       141
4       136
6       103
7       100
8       100
3        97
1        87
5        87
10       71
9        68
11       63
12       55
14       55
13       54
16       53
15       45
17       30
19       16
20       14
18       13
dtype: int64

In [130]:
df.groupby('batsman').get_group('SR Tendulkar').loc[:,['over']].value_counts().sum()

1388

In [132]:
# Find Sachin Tendulkar's dismissal types in IPL.
df[(df.batsman=='SR Tendulkar')][['batsman','dismissal_kind']].value_counts()

batsman       dismissal_kind
SR Tendulkar  caught               23
              bowled                7
              lbw                   5
              run out               3
              caught and bowled     1
              stumped               1
dtype: int64

In [133]:
df[(df.batsman=='SR Tendulkar')][['batsman','dismissal_kind']].value_counts().reset_index()

        batsman     dismissal_kind   0
0  SR Tendulkar             caught  23
1  SR Tendulkar             bowled   7
2  SR Tendulkar                lbw   5
3  SR Tendulkar            run out   3
4  SR Tendulkar  caught and bowled   1
5  SR Tendulkar            stumped   1

In [134]:
df[(df.batsman=='SR Tendulkar')].loc[:,["dismissal_kind"]].value_counts()

dismissal_kind
caught               23
bowled                7
lbw                   5
run out               3
caught and bowled     1
stumped               1
dtype: int64

In [135]:
df.groupby('batsman').get_group('SR Tendulkar')[['dismissal_kind']].value_counts()

dismissal_kind
caught               23
bowled                7
lbw                   5
run out               3
caught and bowled     1
stumped               1
dtype: int64

In [138]:
# Find the bowlers who dismissed SR Tendulkar.
df[(df.player_dismissed=='SR Tendulkar')][['player_dismissed','bowler','dismissal_kind']]

      player_dismissed           bowler     dismissal_kind
22501     SR Tendulkar  Joginder Sharma             bowled
23139     SR Tendulkar    Shoaib Akhtar             caught
23597     SR Tendulkar    Shahid Afridi             caught
24663     SR Tendulkar        IK Pathan            run out
25219     SR Tendulkar        VY Mahesh             bowled
26239     SR Tendulkar       SK Trivedi  caught and bowled
29727     SR Tendulkar          PP Ojha             caught
30608     SR Tendulkar        LR Shukla                lbw
31373     SR Tendulkar         VS Malik             caught
32028     SR Tendulkar       AB Agarkar             caught
33240     SR Tendulkar       D du Preez             caught
34298     SR Tendulkar         RP Singh             bowled
34887     SR Tendulkar       PJ Sangwan            run out
35588     SR Tendulkar    R Vinay Kumar             caught
37502     SR Tendulkar         SK Warne                lbw
37846     SR Tendulkar         SK Raina             caught
39836     SR Tendulkar         R Bhatia             bowled
41253     SR Tendulkar   AD Mascarenhas                lbw
42994     SR Tendulkar         A Mishra             caught
44154     SR Tendulkar    R Vinay Kumar             bowled
45810     SR Tendulkar         L Balaji             caught
46897     SR Tendulkar         RP Singh             caught
47440     SR Tendulkar        PP Chawla             caught
48791     SR Tendulkar         R Sharma                lbw
49947     SR Tendulkar       T Thushara             caught
50753     SR Tendulkar        PP Chawla             bowled
52211     SR Tendulkar       PJ Sangwan             caught
53353     SR Tendulkar        JH Kallis             caught
54523     SR Tendulkar         DW Steyn             caught
55419     SR Tendulkar        SB Jakati             caught
60095     SR Tendulkar         R Sharma             caught
60650     SR Tendulkar     DE Bollinger             caught
61427     SR Tendulkar         A Mishra             caught
63078     SR Tendulkar       AL Menaria            stumped
64590     SR Tendulkar        RJ Harris             caught
65497     SR Tendulkar     Yuvraj Singh             caught
66654     SR Tendulkar        IK Pathan             bowled
67929     SR Tendulkar          P Kumar             caught
69098     SR Tendulkar      Anand Rajan                lbw

In [139]:
# How many times was Suresh Raina dismissed.
df[(df.player_dismissed=='SK Raina')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1261,6,1,Gujarat Lions,Sunrisers Hyderabad,9,6,SK Raina,KD Karthik,Rashid Khan,0,...,0,0,0,0,0,0,0,SK Raina,lbw,NaN
3634,16,1,Gujarat Lions,Mumbai Indians,12,1,SK Raina,BB McCullum,Harbhajan Singh,0,...,0,0,0,0,0,0,0,SK Raina,caught,RG Sharma
4708,20,2,Gujarat Lions,Royal Challengers Bangalore,4,7,SK Raina,BB McCullum,YS Chahal,0,...,0,0,0,0,0,0,0,SK Raina,caught,SR Watson
5508,23,2,Gujarat Lions,Kolkata Knight Riders,18,5,SK Raina,RA Jadeja,Kuldeep Yadav,0,...,0,0,0,0,0,0,0,SK Raina,caught,MK Pandey
6183,26,2,Gujarat Lions,Kings XI Punjab,9,6,SK Raina,KD Karthik,AR Patel,0,...,0,0,0,0,0,0,0,SK Raina,caught,GJ Maxwell
7870,34,1,Gujarat Lions,Mumbai Indians,5,2,SK Raina,Ishan Kishan,JJ Bumrah,0,...,0,0,0,0,0,0,0,SK Raina,caught,KA Pollard
8802,38,1,Gujarat Lions,Rising Pune Supergiant,8,6,SK Raina,BB McCullum,Imran Tahir,0,...,0,0,0,0,1,0,1,SK Raina,run out,AM Rahane
9557,41,1,Gujarat Lions,Delhi Daredevils,14,2,KD Karthik,SK Raina,Mohammed Shami,0,...,0,0,0,0,0,0,0,SK Raina,run out,K Rabada
10849,46,2,Gujarat Lions,Kings XI Punjab,18,1,SK Raina,KD Karthik,Sandeep Sharma,0,...,0,0,0,0,0,0,0,SK Raina,caught,Gurkeerat Singh
11389,49,1,Gujarat Lions,Delhi Daredevils,6,5,SK Raina,Ishan Kishan,PJ Cummins,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
12178,52,1,Gujarat Lions,Sunrisers Hyderabad,13,6,SK Raina,KD Karthik,Mohammed Siraj,0,...,0,0,0,0,0,0,0,SK Raina,caught,S Dhawan
14162,61,1,Chennai Super Kings,Kings XI Punjab,13,2,SK Raina,MEK Hussey,WA Mota,0,...,0,0,0,0,0,0,0,SK Raina,caught,IK Pathan
15580,67,1,Chennai Super Kings,Mumbai Indians,15,6,SK Raina,ML Hayden,MA Khote,0,...,0,0,0,0,0,0,0,SK Raina,caught,DJ Bravo
17224,74,1,Chennai Super Kings,Royal Challengers Bangalore,12,6,MEK Hussey,SK Raina,P Kumar,0,...,0,0,0,0,1,0,1,SK Raina,run out,W Jaffer
18487,79,1,Chennai Super Kings,Delhi Daredevils,19,2,JA Morkel,SK Raina,PJ Sangwan,0,...,0,0,0,0,0,0,0,SK Raina,run out,PJ Sangwan
19427,83,1,Chennai Super Kings,Rajasthan Royals,15,2,SK Raina,JA Morkel,MM Patel,0,...,0,0,0,0,0,0,0,SK Raina,caught,Sohail Tanvir
19872,85,1,Chennai Super Kings,Deccan Chargers,14,3,SK Raina,MS Dhoni,SB Bangar,0,...,0,0,0,0,0,0,0,SK Raina,caught,RG Sharma
20416,87,2,Chennai Super Kings,Delhi Daredevils,11,1,SK Raina,MS Dhoni,PJ Sangwan,0,...,0,0,0,0,0,0,0,SK Raina,caught,MK Tiwary
21162,91,1,Chennai Super Kings,Kings XI Punjab,7,6,SK Raina,S Badrinath,PP Chawla,0,...,0,0,0,0,0,0,0,SK Raina,caught,SE Marsh
22357,96,1,Chennai Super Kings,Mumbai Indians,6,5,SK Raina,SP Fleming,DJ Bravo,0,...,0,0,0,0,0,0,0,SK Raina,caught,YV Takawale
25594,110,2,Chennai Super Kings,Rajasthan Royals,9,3,SK Raina,PA Patel,SK Warne,0,...,0,0,0,0,0,0,0,SK Raina,caught,M Kaif
27200,117,1,Chennai Super Kings,Rajasthan Royals,17,2,SK Raina,MS Dhoni,SR Watson,0,...,0,0,0,0,0,0,0,SK Raina,caught,RA Jadeja
27488,118,2,Chennai Super Kings,Mumbai Indians,3,5,SK Raina,ML Hayden,DJ Bravo,0,...,0,0,0,0,0,0,0,SK Raina,caught,RR Raje
28239,122,1,Chennai Super Kings,Royal Challengers Bangalore,19,6,SK Raina,A Flintoff,P Kumar,0,...,0,0,0,0,0,0,0,SK Raina,caught,V Kohli
28986,125,2,Chennai Super Kings,Delhi Daredevils,15,1,SK Raina,A Flintoff,PJ Sangwan,0,...,0,0,0,0,0,0,0,SK Raina,caught,AB de Villiers
30327,131,1,Chennai Super Kings,Deccan Chargers,7,5,SK Raina,ML Hayden,RG Sharma,0,...,0,0,0,0,0,0,0,SK Raina,caught and bowled,NaN
31855,137,1,Chennai Super Kings,Rajasthan Royals,20,4,SK Raina,MS Dhoni,MM Patel,0,...,0,0,0,0,0,0,0,SK Raina,caught,GC Smith
32801,141,1,Chennai Super Kings,Delhi Daredevils,13,3,SK Raina,S Badrinath,R Bhatia,0,...,0,0,0,0,0,0,0,SK Raina,caught,TM Dilshan
33567,144,1,Chennai Super Kings,Deccan Chargers,18,6,SK Raina,MS Dhoni,RP Singh,0,...,0,0,0,0,0,0,0,SK Raina,caught,DR Smith
34682,149,1,Chennai Super Kings,Kings XI Punjab,10,1,SK Raina,ML Hayden,PP Chawla,0,...,0,0,0,0,0,0,0,SK Raina,caught,K Goel
35500,152,2,Chennai Super Kings,Rajasthan Royals,6,6,SK Raina,ML Hayden,A Singh,0,...,0,0,0,0,0,0,0,SK Raina,caught,LA Carseldine
37074,159,1,Chennai Super Kings,Royal Challengers Bangalore,6,4,SK Raina,ML Hayden,JH Kallis,0,...,0,0,0,0,0,0,0,SK Raina,caught,RE van der Merwe
37925,162,2,Chennai Super Kings,Mumbai Indians,4,5,SK Raina,ML Hayden,DJ Bravo,0,...,0,0,0,0,0,0,0,SK Raina,caught and bowled,NaN
38878,166,1,Chennai Super Kings,Kolkata Knight Riders,17,6,SK Raina,MS Dhoni,AB Dinda,0,...,0,0,0,0,0,0,0,SK Raina,caught,LR Shukla
39583,169,1,Chennai Super Kings,Kings XI Punjab,14,3,SK Raina,JDP Oram,WA Mota,0,...,0,0,0,0,0,0,0,SK Raina,caught,B Lee
40557,173,1,Chennai Super Kings,Royal Challengers Bangalore,15,1,SK Raina,MS Dhoni,P Kumar,0,...,0,0,0,0,0,0,0,SK Raina,caught,MV Boucher
42100,179,2,Chennai Super Kings,Deccan Chargers,3,4,SK Raina,ML Hayden,WPUJC Vaas,0,...,0,0,0,0,0,0,0,SK Raina,caught,AC Gilchrist
42743,182,1,Chennai Super Kings,Kolkata Knight Riders,10,1,SK Raina,S Badrinath,BJ Hodge,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
44771,190,2,Chennai Super Kings,Kings XI Punjab,13,3,PA Patel,SK Raina,J Theron,0,...,0,0,0,0,0,0,0,SK Raina,run out,J Theron
44823,190,3,Chennai Super Kings,Kings XI Punjab,1,5,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,0,0,0,SK Raina,caught,DPMD Jayawardene
45266,192,2,Chennai Super Kings,Royal Challengers Bangalore,12,4,SK Raina,M Vijay,R Vinay Kumar,0,...,0,0,0,0,0,0,0,SK Raina,caught,JH Kallis
46726,198,2,Chennai Super Kings,Rajasthan Royals,10,4,SK Raina,MS Dhoni,SK Warne,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
48547,206,1,Chennai Super Kings,Rajasthan Royals,9,2,SK Raina,M Vijay,SK Warne,0,...,0,0,0,0,0,0,0,SK Raina,caught,SW Tait
49772,211,1,Chennai Super Kings,Mumbai Indians,9,6,SK Raina,ML Hayden,DJ Bravo,0,...,0,0,0,0,0,0,0,SK Raina,caught,S Dhawan
51042,216,1,Chennai Super Kings,Deccan Chargers,18,2,SK Raina,R Ashwin,RJ Harris,0,...,0,0,0,0,0,0,0,SK Raina,caught,RG Sharma
52877,224,1,Chennai Super Kings,Delhi Daredevils,9,1,SK Raina,MEK Hussey,TM Dilshan,0,...,0,0,0,0,0,0,0,SK Raina,caught,UT Yadav
53972,228,2,Chennai Super Kings,Kings XI Punjab,10,4,SK Raina,S Badrinath,J Theron,0,...,0,0,0,0,0,0,0,SK Raina,caught,K Goel
54797,232,1,Chennai Super Kings,Deccan Chargers,5,5,SK Raina,S Badrinath,A Symonds,0,...,0,0,0,0,0,0,0,SK Raina,caught,AC Gilchrist
55518,235,1,Chennai Super Kings,Kolkata Knight Riders,11,3,SK Raina,S Anirudha,YK Pathan,0,...,0,0,0,0,0,0,0,SK Raina,caught,S Ladda
57329,243,1,Chennai Super Kings,Kings XI Punjab,1,2,SK Raina,M Vijay,P Kumar,0,...,0,0,0,0,0,0,0,SK Raina,caught,PC Valthaty
58616,248,1,Chennai Super Kings,Royal Challengers Bangalore,11,5,SK Raina,MEK Hussey,R Ninan,0,...,0,0,0,0,0,0,0,SK Raina,caught,MA Agarwal
59556,252,1,Chennai Super Kings,Kochi Tuskers Kerala,16,1,SK Raina,MS Dhoni,NLTC Perera,0,...,0,0,0,0,0,0,0,SK Raina,run out,NLTC Perera
60787,257,2,Chennai Super Kings,Mumbai Indians,5,5,SK Raina,MEK Hussey,Harbhajan Singh,0,...,0,0,0,0,0,0,0,SK Raina,caught and bowled,NaN
61890,262,1,Chennai Super Kings,Pune Warriors,10,6,SK Raina,MEK Hussey,AC Thomas,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
64354,272,1,Chennai Super Kings,Deccan Chargers,18,5,SK Raina,MS Dhoni,PP Ojha,0,...,0,0,0,0,0,0,0,SK Raina,caught,S Dhawan
65445,276,2,Chennai Super Kings,Rajasthan Royals,19,3,SK Raina,MEK Hussey,SK Trivedi,0,...,0,0,0,0,0,0,0,SK Raina,caught,J Botha
66469,281,1,Chennai Super Kings,Kolkata Knight Riders,6,5,SK Raina,MEK Hussey,YK Pathan,0,...,0,0,0,0,0,0,0,SK Raina,caught,JH Kallis
67425,285,1,Chennai Super Kings,Rajasthan Royals,19,3,SK Raina,MS Dhoni,A Singh,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
68256,289,1,Chennai Super Kings,Delhi Daredevils,6,3,SK Raina,M Vijay,VR Aaron,0,...,0,0,0,0,0,0,0,SK Raina,caught,IK Pathan

In [140]:
df[(df.player_dismissed=='SK Raina')].index.size

59

In [144]:
df[(df.batsman_runs==6)][['batsman','batsman_runs']]

             batsman  batsman_runs
10         DA Warner             6
47      MC Henriques             6
75      Yuvraj Singh             6
89      Yuvraj Singh             6
91      MC Henriques             6
...              ...           ...
69653       MR Marsh             6
69657     WD Parnell             6
69690        S Sohal             6
69693        S Sohal             6
69748  KC Sangakkara             6

[2939 rows x 2 columns]

In [141]:
# Display player details who hit the maximum no of sixes in the current IPL tournament.
df[(df.batsman_runs==6)][['batsman','batsman_runs']].value_counts()

batsman       batsman_runs
SK Raina      6               83
YK Pathan     6               80
Yuvraj Singh  6               75
CH Gayle      6               72
RG Sharma     6               72
                              ..
MG Johnson    6                1
MA Khote      6                1
M Rawat       6                1
LPC Silva     6                1
Z Khan        6                1
Length: 234, dtype: int64

In [143]:
df[(df.batsman_runs==6)].loc[:,['batsman','batsman_runs']].value_counts()

batsman       batsman_runs
SK Raina      6               83
YK Pathan     6               80
Yuvraj Singh  6               75
CH Gayle      6               72
RG Sharma     6               72
                              ..
MG Johnson    6                1
MA Khote      6                1
M Rawat       6                1
LPC Silva     6                1
Z Khan        6                1
Length: 234, dtype: int64

In [146]:
# What is the Overall No Balls Runs for each team in the dataset?
df.groupby('batting_team')[['batting_team','noball_runs']].sum()

                             noball_runs
batting_team
Chennai Super Kings                   32
Deccan Chargers                       45
Delhi Daredevils                      42
Gujarat Lions                         10
Kings XI Punjab                       36
Kochi Tuskers Kerala                  11
Kolkata Knight Riders                 39
Mumbai Indians                        42
Pune Warriors                          9
Rajasthan Royals                      45
Rising Pune Supergiant                 1
Royal Challengers Bangalore           34
Sunrisers Hyderabad                    6

In [147]:
# Which player scored the most runs in the dataset?
df.groupby('batsman')[['batsman','total_runs']].sum().sort_values('total_runs',
                                                                 ascending=False)

              total_runs
batsman
SK Raina            2255
G Gambhir           2034
RG Sharma           1867
SR Tendulkar        1730
MS Dhoni            1650
...                  ...
C Nanda                0
S Kaul                 0
Imran Tahir            0
SN Thakur              0
L Ablish               0

[383 rows x 1 columns]